* {
    box-sizing: border-box;
}

.flex {
    display: flex;
    gap: 80px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    border: 1px solid grey;
}

.gameboard-square {
    background-color: skyblue;
    border: 1px solid grey;
}

.gameboard-square.hit {
    background-color: lightslategrey;
}

#player-gameboard > .ship {
    background-color: black;
}

#player-gameboard > .ship.hit {
    background-color: red;
}

#computer-gameboard > .ship {
    background-color: black;
}

#computer-gameboard > .ship.hit {
    background-color: red;
}

#computer-gameboard:not(.inactive) > .gameboard-square:hover:not(.hit) {
    background-color: lightcoral;
}

.hidden {
    display: none;
}

.valid {
    background-color: yellowgreen;
}

.invalid {
    background-color: lightcoral;
}

#player-gameboard > .ship.invalid {
    background-color: red;
}
